<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input
      type="text"
      placeholder="Buscar Localização"
      name="city"
      [(ngModel)]="initialCityName"
    />

    <span (click)="onSubmit()">
      <fa-icon
        animation="fade"
        style="--fa-animation-duration: 5s; cursor: pointer"
        size="lg"
        class="search-icon"
        [icon]="searchIcon"
      >
      </fa-icon>
    </span>
  </form>
</div>

<app-weather-card
  *ngIf="weatherData"
  [weatherData]="weatherData"
></app-weather-card>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="rgba(13, 92, 189, 0.988)"
  type="ball-rotate"
  [fullScreen]="true"
  ><p style="color: white">Carregando...</p></ngx-spinner
>
